.comment-item {
  display: flex;
  padding: 15px 15px;
  border-bottom: 1px solid #dfe4ec;
  border-radius: 2px;
  transition: background-color 350ms ease;
}

.comment-item.processing {
  background-color: #fffbf3;
}

.comment-item section.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  color: #717171;
  transition: color 150ms ease, font-weight 150ms ease;
}

.comment-item section.left > .text {
  font-size: 14px;
  margin-bottom: 5px;
}

.comment-item section.left > .time-ago {
  font-size: 11px;
  color: #a19999;
}

.comment-item section.left > .time-ago i {
  margin-right: 4px;
}

.comment-item .delete-icon {
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  opacity: 0;
  transition: opacity 150ms ease,
    color 350ms ease,
    transform 350ms ease;
}

.comment-item:hover .delete-icon {
  opacity: 1;
}

.comment-item .delete-icon:hover {
  color: rgba(0, 0, 0, 0.4);
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .comment-item .delete-icon {
    opacity: 1;
  }

  .comment-item section.left > .text {
    font-size: 15px;
  }
}
