#comments-view-footer {
  display: flex;
}

#comments-view-footer form {
  border-top: 1px solid #e0e4e8;
  min-height: 50px;
  display: flex;
  flex: 1;
}

#comments-view-footer input {
  padding-left: 15px;
  border: none;
  color: #717171;
  font-size: 14px;
  flex: 1;
}
