.filter-container {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.filter-container .description {
  margin-left: 10px;
  font-size: 14px;
}

@media (max-width: 768px) {
  .filter-container .description {
    font-size: 16px;
  }
}
